// Banner and logo
@require _globals

banner()
  banner-shadow = 0 1px 2px rgba(91, 105, 113, 0.7)

  #banner
    &.theme-cobalt
      color theme-cobalt-banner-color
    z-index: 1
    position: fixed;
    top: 0
    height: banner-height
    width: 100%;
    font-weight: bold;
    text-align: center;
    //background: -moz-linear-gradient(270deg, #363c0c 0%, #378548 100%); /* ff3.6+ */
    //background: -webkit-linear-gradient(270deg, #B8D3F2 0%, #3D5E85 100%); /* safari5.1+,chrome10+ */
    //background: -ms-linear-gradient(270deg, #B8D3F2 0%, #3D5E85 100%); /* ie10+ */
    //background: linear-gradient(180deg, #363c0c 0%, #9a9c8a 100%)    //background:  url("/assets/images/ccem_dove.png") no-repeat scroll 0 50% // linear-gradient(180deg, #77AAE0 0%, #4C7BAD 100%) /* w3c */
    background: linear-gradient(180deg, rgba(129,160,204,1) 1%, rgba(153,180,218,1) 19%, rgba(160,186,222,1) 24%, rgba(155,172,199,1) 47%, rgba(125,141,168,1) 67%, rgba(85,100,128,1) 94%, rgba(69,73,87,1) 100%)
    #banner-wrapper
      display: inline-block
      margin-left: auto
      margin-right: auto
      height: banner-height

      .banner-title-wrapper
        display: inline-block
        padding: 0.1rem 1.4rem 4px 0.1rem
        h1
          font-family: sourcesanspro-bold, sans-serif
          font-size: 2.5rem
          margin-bottom: 0.1rem
          margin-top: 0.4rem
        h3
          font-weight: 600
          font-size: 1rem
          margin-top: 0.2rem
          color: color-dull-white
      .logo
        margin-top: 4px
        outline: none
        border: none
        //margin-bottom: 0.2rem


    #logo-extension
      height: 22px;
      position: absolute;
      left: 0
      right: 0;
      bottom: 0;
      padding-top: 0.2rem
      font-size: 1rem
      text-align right
      color: white
      background: transparent
      //background: -moz-linear-gradient(270deg, #c7e6f0 0%, #8BA8CC 20%, #8BA8CC 80%, #005171 100%); /* ff3.6+ */
      //background: -webkit-linear-gradient(270deg, #c7e6f0 0%, #8BA8CC 20%, #8BA8CC 80%, #005171 100%); /* safari5.1+,chrome10+ */
      //background: -ms-linear-gradient(270deg, #c7e6f0 0%, #8BA8CC 20%, #8BA8CC 80%, #005171 100%); /* ie10+ */
      //background: linear-gradient(180deg, #c7e6f0 0%, #8BA8CC 20%, #8BA8CC 80%, #005171 100%); /* w3c */
      &::after
        content: "";
        z-index: -1;
        position: absolute;
        left: 1px /* one half of the remaining 8px */
        bottom: 1px
        width: 100%
        height: 2px
        -webkit-box-shadow: banner-shadow
        -moz-box-shadow: banner-shadow
        box-shadow: banner-shadow
      .fb-icon
        height: 1.1rem
        float: right
        margin-top: -0.1rem
        margin-left: 0
        margin-right: 0.6rem
        padding-bottom: 0
        padding-top: 0
      a:link, a:visited
        margin-left: 0.8rem
        color: white
        text-decoration none
      a:hover
        color: color-dark-deep-green
