// Banner and logo
@require _globals

banner()
  banner-shadow = 0px 4px 4px rgba(91,105,113,0.8); // 0 1px 2px 3px rgba(91, 105, 113, 0.7)

  #banner
    &.theme-cobalt
      color theme-cobalt-banner-color
    z-index: 1
    position: fixed;
    top: 0
    height: banner-height
    width: 100%;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(180deg, rgba(148,179,224,1) 1%, rgba(153,181,222,1) 19%, rgba(155,182,222,1) 24%, rgba(146,168,209,1) 47%, rgba(126,147,185,1) 67%, rgba(101,119,153,1) 94%, rgba(103,109,130,1) 100%);
    &::after
      content: "";
      z-index: -1;
      position: absolute;
      left: 1px /* one half of the remaining npx */
      bottom: 1px
      width: 100%
      height: 2px
      -webkit-box-shadow: banner-shadow
      -moz-box-shadow: banner-shadow
      box-shadow: banner-shadow
    #banner-wrapper
      display: inline-block
      margin-left: auto
      margin-right: auto
      height: banner-height

      .banner-title-wrapper
        display: inline-block
        padding: 0.1rem 1.4rem 4px 0.1rem
        h1
          font-family: sourcesanspro-bold, sans-serif
          font-size: 2.5rem
          margin-bottom: 0.1rem
          margin-top: 0.4rem
        h3
          font-weight: 600
          font-size: 1rem
          margin-top: 0.2rem
          color: color-dull-white
      .logo
        margin-top: 4px
        outline: none
        border: none
        //margin-bottom: 0.2rem


    #logo-extension
      height: 22px;
      position: absolute;
      left: 0
      right: 0;
      bottom: 0;
      padding-top: 0.2rem
      font-size: 1rem
      text-align right
      color: white
      background: transparent
      &::after
        content: "";
        z-index: -1;
        position: absolute;
        left: 1px /* one half of the remaining 8px */
        bottom: 1px
        width: 100%
        height: 2px
        -webkit-box-shadow: banner-shadow
        -moz-box-shadow: banner-shadow
        box-shadow: banner-shadow
      .fb-icon
        height: 1.1rem
        float: right
        margin-top: -0.1rem
        margin-left: 0
        margin-right: 0.6rem
        padding-bottom: 0
        padding-top: 0
      a:link, a:visited
        margin-left: 0.8rem
        color: white
        text-decoration none
      a:hover
        color: color-dark-deep-green
