@require _globals

module()
  .ch-module-wrapper
    clearfix()
    easy_tabs()
    full_calendar()
    carousel()
    recent_sermons()

    margin-bottom: 0.4rem
    .ch-module-heading
      position: relative
      //background-color: #a9d3bf
      padding: 0.3rem 0.4rem
      //border-bottom: 2px solid theme-light-gray-border-color
      border-radius: 0.1rem
      font-weight: bold
      color: theme-cobalt-module-heading-color  //theme-title-blue
      //font-family: quintessential, Times, "Times New Roman", serif
      font-size: 1.1rem
      background:  theme-cobalt-module-title-background
      &.ch-clickable-heading
        cursor: pointer
      a.btn-add
        btn-add()
        top: -1px;
        right: 54px;
    .ch-module-body
      &.ch-admin-list
        table tr td
          border-right: theme-common-medium-border
          &:nth-child(1)
            border-left: theme-common-medium-border
      background-color theme-cobalt-module-body-bgcolor
      //border-right 1px solid theme-light-gray-border
      //border-left 1px solid theme-light-gray-border
      border-bottom-right-radius 0.1rem
      border-bottom-left-radius 0.1rem
      padding 0.2rem
      table
        width: 100%
        border-collapse collapse
        tr
          border-bottom: theme-common-light-border
          margin-bottom: 0.1rem
          td
            padding: 0.2em
            &:nth-child(1)
              text-align center
              border-bottom: 1px solid #bcebc9  // green underline
            &:nth-child(2)
              padding-left: 0.3rem
