carousel()
  &.ch-carousel
    width: calc(100% - 2.4rem);
    background-color: theme-cobalt-carousel-bgcolor
    border-radius: 0.3rem;
    padding-left: 0.4rem;
    padding-bottom: 0.6rem;
    margin-bottom: 0.4rem
    .slick-prev.slick-arrow, .slick-next.slick-arrow
      display: none
      opacity 0
      width: 0
    img
      border-radius:0.3rem
