full_calendar()
  &.ch-full_calendar
    //max-height: 84%;
    position: relative;
    //overflow-y: auto;
    //clear: both;
    width: 92%;
    margin-top: 0.9rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    padding-bottom: 0.8rem
  .article-title
    color: theme-cobalt-article-heading-color
  img
    border-radius:0.2rem
    &.center
      margin-left:auto
      margin-right:auto
