recent_sermons()
  &.ch-recent-sermons
    tr
      td:nth-child(1)
      td:nth-child(2)
        cursor: pointer
        a:link, a:visited
          color: theme-cobalt-module-a-color
          text-decoration none
        a:hover
          text-decoration underline
